<div class="dashboard-container">
    <div class="sidebar">
      <ul>
        <li><a routerLink="/dashboard/my-task">My Task</a></li>
        <li><a routerLink="/dashboard/listas">Listas</a></li>
        <li><a routerLink="/dashboard/dashboards">Dashboards</a></li>
      </ul>
    </div>
    <div class="main-content">
    </div>
    <div class="vertical-sections">
      <div class="vertical-section reserva">
        <h2>Reserva</h2>
        <!-- Contenido de la sección de reserva -->
      </div>
      <div class="vertical-section realizando">
        <h2>Realizando</h2>
        <!-- Contenido de la sección de realizando -->
      </div>
      <div class="vertical-section en-progreso">
        <h2>En Progreso</h2>
        <!-- Contenido de la sección en progreso -->
      </div>
      <div class="vertical-section finalizado">
        <h2>Finalizado</h2>
        <!-- Contenido de la sección finalizado -->
      </div>y
    </div>
  </div>
 
