<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="../../../../../../assets/imgenes/home.png" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link my-tasks  " (click)="setIndex(1)">Mis tareas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link my-tasks" (click)="setIndex(2)" >Listas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link my-tasks" >Dashboard</a>
        </li>
    
      </ul>
      <div class="row">
        <div class="col">
          <img (click)="setIndex(3)" src="../../../../../../assets/imgenes/user.png" style="cursor: pointer;" alt="">

        </div>
        <div class="col">

          
          <img (click)="setIndex(4)" src="../../../../../../assets/imgenes/settings.png" style="cursor: pointer;" alt="">

        </div>
      </div>



   
     
    </div>
  </div>
</nav>


<app-my-task *ngIf="tabIndex === 1"></app-my-task>

<app-listas *ngIf="tabIndex === 2"></app-listas>

<app-user-settings  *ngIf="tabIndex === 3"></app-user-settings>
<app-general-settings *ngIf="tabIndex === 4" (tabIndex)="tabIndex = $event" ></app-general-settings>
<app-new-user *ngIf="tabIndex === 5"   ></app-new-user>