<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
     <li> <a class="fa fa-home icon-home" href="#"></a></li>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">My tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Listas</a>
          </li>
 
          <li class="nav-item">
            <a class="nav-link">Dashboard</a>
          </li>
        </ul>
        <form class="barra  justify-content-end" role="search">
          <input class="form-control me-2" type="search" aria-label="Search">
        </form>
        
        <li> <a class="fa fa-cog" href="#"></a></li>
      
        <li> <a class="fa fa-user-circle-o" href="#"></a></li>
      </div>
    </div>
  </nav>